.main-banner {
    box-sizing: border-box;
    background-image: url(../../assets/img/re1.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    border-bottom: 10px solid #000;
    padding-top: 100px;
    padding-left: 160px;
    padding-bottom: 430px;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.main-banner .main-box {
    margin-bottom: 50px;
}

.main-banner .nav {
    display: flex;
    justify-content: space-between;
    
}

.main-banner .main-button {
    width: 160px;
    text-align: center;
    
}

@media (max-width: 660px) {

    .main-banner {
        box-sizing: border-box;
        background-image: url(../../assets/img/renacentismo.jpg) ;
        background-repeat: no-repeat;
        background-size: fill;
        border-bottom: 10px solid #000;
    }
    
    .main-banner .wrapper {
        position: relative;
        right: 7rem;

    }
    
    .main-banner .main-box {
        width: 8rem;
    }
    
    .main-banner .nav {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 2.5rem;

    }
    
    .main-banner .main-button {
        margin: 1rem 0;
        
    }
}


@media (max-width: 810px) {

    .main-banner {
        background-image: url(../../assets/img/renacentismo.jpg) ;
        background-repeat: no-repeat;
        background-size: fill;

    }
    
    .main-banner .wrapper {

    }
    
    .main-banner .main-box {

    }
    
    .main-banner .nav {

    }
    
    .main-banner .main-button {
        
    }
}
