.main-section {
    /* background: linear-gradient(to left, #360033, #0b8793);  */
    background-image: url(../../assets/img/renacentismo2.jpg);

    border-bottom: 10px solid #000;
    padding-top: 50px;
    padding-bottom: 100px;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-second {
    background-color: #3A4042;
    border-bottom: 10px solid #000;
}


@media (max-width: 660px) {

    .main-section {
        background-image: url(../../assets/img/renacentismo1.jpg) ;
    }
    
    .box-card {
        position: relative;
        right: 5rem;
    }

    #centro {
        text-align: center;
    }
    
}


@media (max-width: 810px) {


    .main-section {
        background-image: url(../../assets/img/renacentismo1.jpg) ;
    }
    
    .box-card {
        position: relative;
        right: 5rem;
    }

    #centro {
        text-align: center;
    }
}