.main-box {
    display: inline-block;
    background: linear-gradient(to right, #8360c3, #2ebf91); 
    box-shadow: 10px 10px 0px #000;
    text-align: center;
    padding: 30px 75px;

}

.main-box .main-title {
    margin-bottom: 20px;
}

@media (max-width: 660px) {

    .main-box {
        background: linear-gradient(to right, #8360c359, #2ebf91a9); 
    }

}