.node-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.node-card .title {
    color: #FFF;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 45px;
}

.node-card::before {
    content: "";
    width: 35px;
    border: 2.5px dashed #000;
    transform: rotate(90deg) translateX(-62%);
    position: absolute;
    bottom: 140px;
}

.node-card .logo {
    display: flex;
    align-items: center;
    height: 12rem;
    width: 18rem;
    /* padding-left: 24px;
    padding-right: 24px;
    background-color: #FFD845; */
    /* border: 5px solid #000; */
    overflow: hidden;
    object-fit: cover;
    box-shadow: 25px -20px 10px #141414;
    }

    .node-card .logo-books {
        display: flex;
        align-items: center;
        height: 18rem;
        width: 18rem;
        /* padding-left: 24px;
        padding-right: 24px;
        background-color: #FFD845; */
        /* border: 5px solid #000; */
        overflow: hidden;
        object-fit: cover;
        box-shadow: 25px -20px 10px #141414;
        }

.node-card .logo-img {
    width: 18rem;
    z-index: 1;
}

.node-card .logo-img-books {
    width: 18rem;
    z-index: 1;
}

/* .node-card.-clean .logo {
    padding: 0px;
    overflow: hidden;
    object-fit: cover;
} */

@media (max-width: 660px) {

    .node-card .res{
        display: none;
    }

    .logo-books .logo-img {
        display: none;
    }

    .node-card .logo-books {
        display: none;
    }

    .main-carousel-books {
        display: none;
    }

}